<template>
    <div class="page-container">
        <md-app>
            <md-app-toolbar class="md-primary" md-elevation="0">
                <md-button class="md-icon-button" @click="toggleMenuVisible" v-if="!menuVisible">
                    <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">{{ $route.name }}</span>
            </md-app-toolbar>

            <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
                <md-toolbar class="md-transparent" md-elevation="0">
                    <span>Navigation</span>

                    <div class="md-toolbar-section-end">
                        <md-button class="md-icon-button md-dense" @click="toggleMenuVisible">
                            <md-icon>keyboard_arrow_left</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-list>
                    <md-list-item to="/dashboard">
                        <md-icon>home</md-icon>
                        <span class="md-list-item-text">Inbox</span>
                    </md-list-item>

                    <md-list-item to="/tasks">
                        <md-icon>assignment</md-icon>
                        <span class="md-list-item-text">Tasks</span>
                    </md-list-item>

                    <md-list-item to="/users">
                        <md-icon>face</md-icon>
                        <span class="md-list-item-text">Users</span>
                    </md-list-item>

                    <md-list-item to="/logout" @click.prevent="logout">
                        <md-icon>exit_to_app</md-icon>
                        <span class="md-list-item-text">Logout</span>
                    </md-list-item>
                </md-list>
            </md-app-drawer>

            <md-app-content>
                <router-view></router-view>
            </md-app-content>
        </md-app>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default {
        name: 'PersistentMini',

        computed: mapState([
            'menuVisible'
        ]),

        methods: {
            ...mapMutations([
                'toggleMenuVisible',
                'removeToken'
            ]),

            toggleMenu() {
                this.toggleMenuVisible()
                // this.menuVisible = !this.menuVisible
            },

            logout() {
                this.removeToken()
            }
        },

    }


    import {mapState} from 'vuex'
</script>

<style lang="scss" scoped>
    .md-app {
        min-height: 100vh;
        border: 1px solid rgba(#000, .12);
    }

    // Demo purposes only
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
</style>