<template>
    <div>
        <form novalidate class="md-layout md-alignment-center" @submit.prevent="login">
            <md-card class="md-layout-item md-size-20 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Login</div>
                </md-card-header>

                <md-card-content>
                    <md-field :class="{ 'md-invalid' : emailError }">
                        <label for="email">Email</label>
                        <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email"
                                  @change="clearError('email')"
                                  :disabled="sending"/>
                        <span class="md-error" v-if="emailError">{{ emailError }}</span>
                    </md-field>

                    <md-field :class="{ 'md-invalid' : passwordError }">
                        <label for="email">Password</label>
                        <md-input type="password" name="password" id="password" autocomplete="email"
                                  v-model="form.password" @change="clearError('password')"
                                  :disabled="sending"/>
                        <span class="md-error" v-if="passwordError">{{ passwordError }}</span>
                    </md-field>

                    <span class="md-body-2" v-if="anotherError">{{ anotherError }}asdasdfsa</span>


                </md-card-content>

                <md-progress-bar md-mode="indeterminate" v-if="sending"/>

                <md-card-actions>
                    <md-button type="submit" class="md-primary" :disabled="sending">Login</md-button>
                </md-card-actions>

            </md-card>

        </form>
    </div>
</template>

<script>
    import Form from '../core/Form'
    import {mapActions} from 'vuex'
    import {mapState} from 'vuex'
    import {mapMutations} from 'vuex'


    export default {
        data: () => ({
            form: new Form({
                email: null,
                password: null
            })
        }),

        computed: mapState({
            emailError: state => state.auth.errors.email,
            passwordError: state => state.auth.errors.password,
            anotherError: state => state.auth.errors.another,
            sending: state => state.auth.fetch,
            access_token: state => state.auth.access_token
        }),

        methods: {
            ...mapMutations([
                'clearError'
            ]),

            ...mapActions([
                'tryLogin',
            ]),

            login: function () {
                this.tryLogin(this.form)
            },

        }
    }
</script>

<style lang="scss" scoped>
    .md-layout {
        padding-top: 20vh;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
</style>