<template>
    <ul class="pagination" v-if="last - current > 0">
        <li :class="{ 'disabled' : current === 1 }">
            <router-link :to="{ name: routeName, query: { page: current - 1 }}" v-if="current > 1">
                <i class="material-icons">chevron_left</i>
            </router-link>
            <i v-else class="material-icons">chevron_left</i>
        </li>

        <li class="waves-effect" v-for="(item, index) in pages" :key="index"
            :class="{'active' : current == item}">
            <router-link :to="{ name: routeName, query: { page: item }}" v-if="current !== item">
                {{ item }}
            </router-link>
            <span v-else class="active">{{ item }}</span>
        </li>

        <li :class="{ 'disabled' : current === last }">
            <router-link :to="{ name: routeName, query: { page: current + 1 }}" v-if="current < last">
                <i class="material-icons">chevron_right</i>
            </router-link>
            <i v-else class="material-icons">chevron_right</i>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['paginator', 'routeName'],

        computed: {
            current: function () {
                return this.paginator.current_page
            },

            last: function () {
                return this.paginator.last_page
            },

            pages: function () {
                if (!this.paginator.total)
                    return []

                let {current_page, last_page, total, per_page} = this.paginator;
                let pages = [
                    current_page - 2,
                    current_page - 1,
                    current_page,
                    current_page + 1,
                    current_page + 2,
                ];

                let first = pages[0];

                if (first < 1) {
                    pages.forEach(function (item, i) {
                        pages[i] = item + -first + 1;
                    })
                }

                pages = pages.filter(function (item) {
                    return item <= last_page
                });

                if (pages.length < 5) {
                    let needAdd = 5 - pages.length;
                    for (let i = 1; i < needAdd + 1; i++) {
                        let number = current_page - pages.indexOf(current_page) - i;
                        if (number > 0)
                            pages.unshift(number)
                    }
                }

                return pages;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .pagination {
        list-style: none;
        li {
            border-radius: 2px;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-top: 5px;
            color: black;
            display: inline-block;
            vertical-align: top;
            a {
                text-decoration: none;
                font-size: 20px;
                color: black;
            }
        }
        .active {
            background: #00ACC1;
            font-size: 20px;
            cursor: not-allowed;
            a:hover {
                color: black;
            }
        }
        .disabled {
            cursor: not-allowed;
            color: grey;
        }
    }
</style>