<template>
    <div>
        <form novalidate class="md-layout md-alignment-center" @submit.prevent="register">
            <md-card class="md-layout-item md-size-20 md-small-size-100">
                <md-card-header>
                    <div class="md-title">Register</div>
                </md-card-header>

                <md-card-content>
                    <md-field :class="{ 'md-invalid' : emailError }">
                        <label for="email">Email</label>
                        <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email"
                                  @keydown="clearError('email')"
                                  :disabled="sending"/>
                        <span class="md-error" v-if="emailError">{{ emailError }}</span>
                    </md-field>

                    <md-field :class="{ 'md-invalid' : passwordError }">
                        <label for="email">Password</label>
                        <md-input type="password" name="password" id="password" autocomplete="email"
                                  v-model="form.password" @keydown="clearError('password')"
                                  :disabled="sending"/>
                        <span class="md-error" v-if="passwordError">{{ passwordError }}</span>
                    </md-field>
                </md-card-content>

                <md-progress-bar md-mode="indeterminate" v-if="sending"/>

                <md-card-actions>
                    <md-button type="submit" class="md-primary" :disabled="sending">Register</md-button>
                </md-card-actions>
            </md-card>

            <!--<md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>-->
        </form>
    </div>
</template>

<script>
    import Form from '../core/Form'
    import {mapActions} from 'vuex'
    import {mapState} from 'vuex'
    import {mapMutations} from 'vuex'


    export default {
        data: () => ({
            form: {
                email: null,
                password: null
            }
        }),

        computed: mapState({
            emailError: state => state.auth.errors.email,
            passwordError: state => state.auth.errors.password,
            sending: state => state.auth.fetch
        }),

        methods: {
            ...mapMutations([
                'clearError'
            ]),

            ...mapActions([
                'tryRegister',
            ]),

            register: function () {
                this.tryRegister(this.form)
            },

        }
    }
</script>

<style lang="scss" scoped>
    .md-layout {
        padding-top: 20vh;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
</style>