<template>
    <div>
        <md-table v-model="users" md-card @md-selected="onSelect">
            <md-progress-bar md-mode="indeterminate" v-if="fetch"/>

            <md-table-toolbar>
                <h1 class="md-title">

                    <div class="md-layout-item md-size-10">
                        <md-field>
                            <md-select v-model="role" placeholder="Role">
                                <md-option value="ADMIN">Admin</md-option>
                                <md-option value="USER">User</md-option>
                            </md-select>
                        </md-field>
                    </div>
                </h1>

                <md-field md-clearable class="md-toolbar-section-end">
                    <md-input placeholder="Search by email..." @input="searchType" v-model="search"/>
                </md-field>
            </md-table-toolbar>

            <md-table-toolbar slot="md-table-alternate-header" slot-scope="{ count }">
                <div class="md-toolbar-section-start">Selected users: {{count}}</div>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" @click="removeUsers">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }" :md-disabled="item.email.includes('root')"
                          md-selectable="multiple" md-auto-select>
                <md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
                <md-table-cell md-label="Email" md-sort-by="email">{{ item.email }}</md-table-cell>
                <md-table-cell md-label="Balance" md-sort-by="balance">{{ item.balance }}</md-table-cell>
                <md-table-cell md-label="Referals" md-sort-by="referals">{{ item.referals_count}}</md-table-cell>
                <md-table-cell md-label="Referal income">{{ item.referal_income }}</md-table-cell>
                <md-table-cell md-label="Register">{{ item.created_at}}</md-table-cell>
            </md-table-row>
        </md-table>

        <paginator :paginator="pagination" route-name="Users"></paginator>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import Paginator from './pagination.vue'

    export default {
        name: 'TableMultiple',

        components: {
            'paginator': Paginator
        },

        computed: {
            ...mapState({
                users: state => state.users.users,
                fetch: state => state.fetch,
                pagination: state => state.users.paginator
            }),
            search: {
                get() {
                    return this.$store.state.users.search
                },
                set(value) {
                    this.$store.commit('updateSearch', value)
                }
            },
            role: {
                get() {
                    return this.$store.state.users.role
                },
                set(value) {
                    this.$store.commit('changeRole', value)
                }
            }

        },

        watch: {
            role: function () {
                this.$router.push('users');
                this.getUsers({page: 1});
            }
        },

        methods: {
            ...mapActions([
                'getUsers',
                'deleteUsers'
            ]),

            searchType: _.debounce(function () {
                this.$router.push('/users');
                this.getUsers({page: 1})
            }, 500),

            removeUsers() {
                let ids = this.selected.map(function (item) {
                    return item.id
                });

                this.deleteUsers(ids);
            },

            onSelect(items) {
                this.selected = items
            },
        }
        ,

        beforeRouteEnter(to, form, next) {
            next(vm => {
                vm.getUsers(to.query)
            })
        }
        ,

        beforeRouteUpdate(to, from, next) {
            this.selected = [];
            this.getUsers(to.query);
            next()
        }
    }
</script>

<style lang="scss" scoped>
    .md-table + .md-table {
        margin-top: 16px
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
</style>