@charset "UTF-8";

/**
 * The complete material palette
 * ---
 * @access public
 * @type map
 * @group themes
 */

/**
 * Theme any css property based on the current palette, accepting a themable
 * value that will give an contrasted
 * ---
 * Usage example:
 *
 * $foo-palette: (
 *   primary: md-get-palette-color(indigo, 500),
 *   accent: md-get-palette-color(pink, 500),
 *   theme: "light"
 * );
 *
 * ---
 * @access public
 * ---
 * @param {color} $type —  The desired color based on material palette
 * @param {string} $type —  A valid hue
 */

/**
 * Get the current theme mode from the current theme
 * ---
 * Usage example:
 *
 * $theme-mode: md-get-theme-mode()
 *
 * ---
 * @access private
 */

/**
 * Theme any css property based on the current palette, accepting a themable
 * value that will give an contrasted
 * ---
 * Usage example:
 *
 * .md-foo {
 *   min-width: 88px;
 *   height: 40px;
 *   background: md-theme(primary);
 * }
 *
 * ---
 * @access public
 * ---
 * @param {string} $type —  The themable value
 */

/**
 * Get a color based on type by theme
 * ---
 * Usage example:
 *
 * $color: md-get-color-by-theme(dark, primary)
 *
 * ---
 * @access public
 * ---
 * @param {string} $color-theme —  The theme color | Accepts dark or light
 * @param {string} $type —  The color type
 */

/**
 * Get a color based on type only
 * ---
 * Usage example:
 *
 * $color1: md-get-color-by-type(background, dark)
 * $color1: md-get-color-by-type(accent)
 *
 * ---
 * @access public
 * ---
 * @param {string} $type —  The color type
 * @param {string} $theme —  The fallback theme
 */

/**
 * The default theme palette
 * primary: indigo 500 #3f51b5
 * accent: pink 500 #e91e63
 * theme: light
 *
 * It can be used just before importing the Vue Material stylesheet
 *
 * ---
 * @access public
 * @type colormap
 * @group themes
 */

/**
 * Temporary variable to store all themable values
 * ---
 * @access private
 * @type map
 * @group themes
 */

/**
 * Map variable to store all themes to be processed by each component
 * ---
 * @access private
 * @type map
 * @group themes
 */

/**
 * Store the current theme name
 * ---
 * @access private
 * @type string
 * @group themes
 */

/**
 * The color contrast values
 * ---
 * @access private
 * @type map
 * @group themes
 */

/**
 * Hightly based on: "Using Sass to automatically pick text colors"
 * https://medium.com/dev-channel/using-sass-to-automatically-pick-text-colors-4ba7645d2796
 */

/**
 * Precomputed linear color channel values, for use in contrast calculations.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 * ---
 *
 *  Algorithm, for c in 0 to 255:
 *  f(c) {
 *    c = c / 255;
 *    return c < 0.03928 ? c / 12.92 : Math.pow((c + 0.055) / 1.055, 2.4);
 *  }
 *
 *  This lookup table is needed since there is no `pow` in SASS.
 *
 * ---
 * @access private
 * @type Map
 * @group themes
 */

/**
 * Calculate the luminance for a color.
 * ---
 * @access private
 * ---
 * @param {string} $color —  The color to be analysed
 */

/**
 * Calculate the contrast ratio between two colors.
 * ---
 * @access private
 * ---
 * @param {string} $bg —  The bg color
 * @param {string} $fg —  The fg color to be compared
 */

/**
 * Determine whether to use dark or light text on top of given color.
 * Returns dark or light depending on the contrast ratio.
 * ---
 * @access private
 * ---
 * @param {string} $color —  The desired color to be compared
 */

/**
 * Override extending the default palette giving new values. It will extend
 * the default values of the palette if has a property missing.
 * ---
 * Usage example:
 *
 * @include md-override-palette ((
 *   accent: blue,
 *   theme: "dark"
 * ))
 *
 * ---
 * @access public
 * @param {map} $palette —  The new palette
 */

/**
 * Create a new theme based on a given palette. It will extend the default
 * values of the palette if has a property missing.
 * ---
 * Usage example:
 *
 * @include md-register-theme("alternative", (
 *   primary: #212121,
 *   accent: #CDDC39,
 *   theme: dark
 * ));
 *
 * ---
 * @access public
 * @param {string} $name —  The theme name to be used with the Vue Material
 * @param {map} $palette [$md-default-palette] —  The theme palette
 */

/**
 * Theme pieces of a given scss code for all pre registered themes.
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     background: md-theme(primary);
 *     color: md-theme(text-primary);
 *   }
 *
 *   &.md-accent {
 *     @include md-theme-component() {
 *       background: md-theme(accent);
 *       color: md-theme(text-accent);
 *     };
 *   }
 * }
 */

/**
 * Theme pieces of a given scss code for all pre registered themes based on parent.
 * ---
 * Usage example:
 *
 * .md-foo {
 *   @include md-theme-component-relative() {
 *     @include md-theme-property(background, primary);
 *   }
 * }
 */

/**
 * Theme a single css property
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     @include md-theme-property(background, primary);
 *     @include md-theme-property(color, text-primary, primary);
 *   }
 *
 *   &.md-accent {
 *     @include md-theme-component() {
 *       @include md-theme-property(background, accent);
 *       @include md-theme-property(color, text-primary, accent);
 *     }
 *   }
 * }
 *
 * ---
 * @access public
 * @param {string} $property —  The css property
 * @param {string} $type —  A palette type
 * @param {string} $background —  The background color to analyse contrast
 * @param {number} $opacity —  The opacity amount
 */

/**
 * Theme a single css property darkening the color by a certain amount
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     @include md-theme-property-darken(background, primary, background, 10%);
 *     @include md-theme-property(color, text-primary, primary);
 *   }
 * }
 *
 * ---
 * @access public
 * @param {string} $property —  The css property
 * @param {string} $type —  A palette type
 * @param {string} $background —  The background color to analyse contrast
 * @param {string} $darken —  The darken amount to apply to the color
 */

/**
 * Theme a single css property by
 * ---
 * Usage example:
 *
 * .md-button {
 *   min-width: 88px;
 *   height: 40px;
 *   display: inline-block;
 *   border-radius: 2px;
 *   transition: .3s ease;
 *
 *   @include md-theme-component() {
 *     @include md-theme-property-by-hue(background, grey, 100, toolbar, background);
 *     @include md-theme-property(color, text-primary, background);
 *   }
 * }
 *
 * ---
 * @access public
 * @param {string} $property —  The css property
 * @param {string} $color —  A valid material palette color name
 * @param {string} $hue —  The hue amount to get the hex color
 * @param {string} $type —  The type of variable
 * @param {string} $variant —  The type of constrasted variable
 */

:root {
  --md-theme-default-primary: #00ACC1;
  --md-theme-default-accent: #689f38;
  --md-theme-default-theme: "light";
}

.md-theme-default :not(input):not(textarea)::-moz-selection {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent-on-background, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-theme-default :not(input):not(textarea)::selection {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent-on-background, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-theme-default a:not(.md-button) {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-theme-default a:not(.md-button):hover {
  color: rgba(0, 172, 193, 0.8);
  color: var(--md-theme-default-primary-on-background, rgba(0, 172, 193, 0.8));
}

.md-theme-default a:not(.md-button).md-accent {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-theme-default a:not(.md-button).md-accent:hover {
  color: rgba(104, 159, 56, 0.8);
  color: var(--md-theme-default-accent-on-background, rgba(104, 159, 56, 0.8));
}

html.md-theme-default {
  background-color: #fafafa;
  background-color: var(--md-theme-default-background-variant, #fafafa);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
}

.md-theme-default .md-caption,
.md-theme-default
.md-display-1,
.md-theme-default
.md-display-2,
.md-theme-default
.md-display-3,
.md-theme-default
.md-display-4 {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent-on-background-variant, rgba(0, 0, 0, 0.54));
}

.md-scrollbar.md-theme-default::-webkit-scrollbar-corner,
.md-scrollbar.md-theme-default::-webkit-scrollbar-track {
  background: #e1e1e1;
  background: var(--md-theme-default-scrollbar-background-on-background-variant, #e1e1e1);
}

.md-scrollbar.md-theme-default::-webkit-scrollbar-thumb {
  background: #757575;
  background: var(--md-theme-default-scrollbar-on-background-variant, #757575);
}

.md-app:not(.md-overlap).md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-list.md-theme-default .md-autocomplete-items .md-highlight-text-match {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-list.md-theme-default .md-autocomplete-loading {
  background-color: rgba(255, 255, 255, 0.54);
  background-color: var(--md-theme-default-background, rgba(255, 255, 255, 0.54));
}

.md-autocomplete.md-theme-default.md-autocomplete-box {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-autocomplete.md-theme-default.md-autocomplete-box.md-focused label {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box {
  background-color: rgba(255, 255, 255, 0.12);
  background-color: var(--md-theme-default-background, rgba(255, 255, 255, 0.12));
}

.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box label,
.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box input {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
  -webkit-text-fill-color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box.md-focused {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box.md-focused label,
.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box.md-focused input {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-hint-on-background, rgba(0, 0, 0, 0.38));
  -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
  -webkit-text-fill-color: var(--md-theme-default-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.md-toolbar .md-autocomplete.md-theme-default.md-autocomplete-box.md-focused svg {
  fill: rgba(0, 0, 0, 0.38);
  fill: var(--md-theme-default-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.md-autocomplete-box-content.md-theme-default:after {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-color: var(--md-theme-default-divider, rgba(0, 0, 0, 0.12));
}

.md-avatar.md-theme-default.md-avatar-icon {
  background-color: rgba(0, 0, 0, 0.38);
  background-color: var(--md-theme-default-icon-disabled, rgba(0, 0, 0, 0.38));
  color: #fff;
  color: var(--md-theme-default-text-primary-on-icon-disabled, #fff);
}

.md-avatar.md-theme-default.md-avatar-icon .md-icon {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-icon-disabled, #fff);
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-icon-disabled, #fff);
}

.md-avatar.md-theme-default.md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-avatar.md-theme-default.md-primary.md-avatar-icon {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-avatar.md-theme-default.md-primary.md-avatar-icon .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-avatar.md-theme-default.md-accent {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-avatar.md-theme-default.md-accent.md-avatar-icon {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-avatar.md-theme-default.md-accent.md-avatar-icon .md-icon {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-bottom-bar.md-theme-default.md-type-fixed {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-bottom-bar.md-theme-default.md-type-fixed .md-bottom-bar-item.md-active {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-bottom-bar.md-theme-default.md-type-fixed .md-bottom-bar-item.md-active .md-icon {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-bottom-bar.md-theme-default.md-type-fixed .md-bottom-bar-item.md-active .md-icon svg {
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-bottom-bar.md-theme-default.md-type-shift {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-bottom-bar.md-theme-default.md-type-shift > .md-ripple .md-ripple-wave {
  background-color: #007f8e;
  background-color: var(--md-theme-default-primary-on-primary, #007f8e);
}

.md-bottom-bar.md-theme-default.md-type-shift .md-icon {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-icon-on-primary, rgba(0, 0, 0, 0.54));
}

.md-bottom-bar.md-theme-default.md-type-shift .md-icon svg {
  fill: rgba(0, 0, 0, 0.54);
  fill: var(--md-theme-default-icon-on-primary, rgba(0, 0, 0, 0.54));
}

.md-bottom-bar.md-theme-default.md-type-shift .md-bottom-bar-item {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-bottom-bar.md-theme-default.md-type-shift .md-bottom-bar-item .md-active .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-bottom-bar.md-theme-default.md-type-shift .md-bottom-bar-item .md-active .md-icon svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-bottom-bar.md-theme-default.md-accent.md-type-fixed {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-fixed .md-bottom-bar-item.md-active {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-fixed .md-bottom-bar-item.md-active .md-icon {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-fixed .md-bottom-bar-item.md-active .md-icon svg {
  fill: #689f38;
  fill: var(--md-theme-default-accent-on-background, #689f38);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  color: rgba(255, 255, 255, 0.7);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift > .md-ripple .md-ripple-wave {
  background-color: #4f792b;
  background-color: var(--md-theme-default-accent-on-accent, #4f792b);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift .md-icon {
  color: #fff;
  color: var(--md-theme-default-icon-on-accent, #fff);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift .md-icon svg {
  fill: #fff;
  fill: var(--md-theme-default-icon-on-accent, #fff);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift .md-bottom-bar-item {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift .md-bottom-bar-item .md-active .md-icon {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-bottom-bar.md-theme-default.md-accent.md-type-shift .md-bottom-bar-item .md-active .md-icon svg {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-button.md-theme-default {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-button.md-theme-default.md-primary {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-button.md-theme-default.md-primary .md-icon-font {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-button.md-theme-default.md-primary .md-icon-image {
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-button.md-theme-default.md-accent {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-button.md-theme-default.md-accent .md-icon-font {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-button.md-theme-default.md-accent .md-icon-image {
  fill: #689f38;
  fill: var(--md-theme-default-accent-on-background, #689f38);
}

.md-button.md-theme-default.md-raised[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-disabled-background-on-background, rgba(0, 0, 0, 0.12));
  color: rgba(0, 0, 0, 0.26);
  color: var(--md-theme-default-disabled, rgba(0, 0, 0, 0.26));
}

.md-button.md-theme-default.md-raised:not([disabled]) {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-button.md-theme-default.md-raised:not([disabled]).md-primary {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-button.md-theme-default.md-raised:not([disabled]).md-primary .md-icon-font {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-button.md-theme-default.md-raised:not([disabled]).md-primary .md-icon-image {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-button.md-theme-default.md-raised:not([disabled]).md-accent {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-button.md-theme-default.md-raised:not([disabled]).md-accent .md-icon-font {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-button.md-theme-default.md-raised:not([disabled]).md-accent .md-icon-image {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-button.md-theme-default.md-fab[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-disabled-background-on-background, rgba(0, 0, 0, 0.12));
}

.md-button.md-theme-default.md-fab:not([disabled]) {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-button.md-theme-default.md-fab:not([disabled]) .md-icon-font {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-button.md-theme-default.md-fab:not([disabled]) .md-icon-image {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-button.md-theme-default.md-fab:not([disabled]).md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-button.md-theme-default.md-fab:not([disabled]).md-primary .md-icon-font {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-button.md-theme-default.md-fab:not([disabled]).md-primary .md-icon-image {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-button.md-theme-default[disabled] {
  color: rgba(0, 0, 0, 0.26);
  color: var(--md-theme-default-disabled-on-background, rgba(0, 0, 0, 0.26));
}

.md-button.md-theme-default[disabled] .md-icon-font {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-icon-disabled-on-background, rgba(0, 0, 0, 0.38));
}

.md-button.md-theme-default[disabled] .md-icon-image {
  fill: rgba(0, 0, 0, 0.38);
  fill: var(--md-theme-default-icon-disabled-on-background, rgba(0, 0, 0, 0.38));
}

.md-card.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-card.md-theme-default .md-card-expand .md-card-actions {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-card.md-theme-default .md-card-header .md-button:not(.md-primary):not(.md-accent),
.md-card.md-theme-default .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-card.md-theme-default .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
.md-card.md-theme-default .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.54));
  fill: rgba(0, 0, 0, 0.54);
  fill: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.54));
}

.md-card.md-theme-default > .md-card-area:after {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-card.md-theme-default.md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-card.md-theme-default.md-primary .md-card-expand .md-card-actions {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-card.md-theme-default.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent),
.md-card.md-theme-default.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-card.md-theme-default.md-primary .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
.md-card.md-theme-default.md-primary .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.54));
  fill: rgba(0, 0, 0, 0.54);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.54));
}

.md-card.md-theme-default.md-primary > .md-card-area:after {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider-on-primary, rgba(0, 0, 0, 0.12));
}

.md-card.md-theme-default.md-accent {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-card.md-theme-default.md-accent .md-card-expand .md-card-actions {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-card.md-theme-default.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent),
.md-card.md-theme-default.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent) {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-card.md-theme-default.md-accent .md-card-header .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon,
.md-card.md-theme-default.md-accent .md-card-actions .md-button:not(.md-primary):not(.md-accent).md-icon-button .md-icon {
  color: rgba(255, 255, 255, 0.54);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.54));
  fill: rgba(255, 255, 255, 0.54);
  fill: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.54));
}

.md-card.md-theme-default.md-accent > .md-card-area:after {
  background-color: rgba(255, 255, 255, 0.12);
  background-color: var(--md-theme-default-divider-on-accent, rgba(255, 255, 255, 0.12));
}

.md-checkbox.md-theme-default.md-checked .md-checkbox-container {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  border-color: #689f38;
  border-color: var(--md-theme-default-accent, #689f38);
}

.md-checkbox.md-theme-default.md-checked .md-checkbox-container:after {
  border-color: #fff;
  border-color: var(--md-theme-default-background, #fff);
}

.md-checkbox.md-theme-default.md-checked .md-ripple {
  color: #689f38;
  color: var(--md-theme-default-accent, #689f38);
}

.md-checkbox.md-theme-default.md-checked.md-primary .md-checkbox-container {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  border-color: #00ACC1;
  border-color: var(--md-theme-default-primary, #00ACC1);
}

.md-checkbox.md-theme-default.md-checked.md-primary .md-ripple {
  color: #00ACC1;
  color: var(--md-theme-default-primary, #00ACC1);
}

.md-checkbox.md-theme-default .md-checkbox-container {
  border-color: rgba(0, 0, 0, 0.54);
}

.md-checkbox.md-theme-default.md-disabled .md-checkbox-container {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-checkbox.md-theme-default.md-disabled.md-checked .md-checkbox-container {
  border-color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.26);
}

.md-chip.md-theme-default {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-highlight, rgba(0, 0, 0, 0.12));
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary, rgba(0, 0, 0, 0.87));
}

.md-chip.md-theme-default .md-icon.md-icon-image svg {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-text-primary, #fff);
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-text-primary, #fff);
}

.md-chip.md-theme-default.md-deletable:not(.md-disabled):hover,
.md-chip.md-theme-default.md-clickable:not(.md-disabled):hover {
  background-color: rgba(0, 0, 0, 0.54);
  background-color: var(--md-theme-default-icon, rgba(0, 0, 0, 0.54));
  color: #fff;
  color: var(--md-theme-default-text-primary-on-icon, #fff);
}

.md-chip.md-theme-default.md-deletable:not(.md-disabled):hover .md-icon,
.md-chip.md-theme-default.md-clickable:not(.md-disabled):hover .md-icon {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-icon, #fff);
}

.md-chip.md-theme-default.md-deletable:not(.md-disabled):hover .md-input-action,
.md-chip.md-theme-default.md-clickable:not(.md-disabled):hover .md-input-action {
  background-color: rgba(255, 255, 255, 0.87);
  background-color: var(--md-theme-default-background, rgba(255, 255, 255, 0.87));
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-icon-on-background, rgba(0, 0, 0, 0.54));
}

.md-chip.md-theme-default.md-deletable:not(.md-disabled):hover .md-input-action .md-icon svg,
.md-chip.md-theme-default.md-clickable:not(.md-disabled):hover .md-input-action .md-icon svg {
  fill: rgba(0, 0, 0, 0.54);
  fill: var(--md-theme-default-icon-on-background, rgba(0, 0, 0, 0.54));
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-icon-on-background, rgba(0, 0, 0, 0.54));
}

.md-chip.md-theme-default.md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-chip.md-theme-default.md-primary .md-input-action {
  color: #fff;
  color: var(--md-theme-default-icon-on-disabled, #fff);
  background-color: rgba(0, 0, 0, 0.26);
  background-color: var(--md-theme-default-disabled, rgba(0, 0, 0, 0.26));
}

.md-chip.md-theme-default.md-primary.md-deletable:not(.md-disabled):hover,
.md-chip.md-theme-default.md-primary.md-clickable:not(.md-disabled):hover {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-icon, #fff);
  background-color: rgba(0, 0, 0, 0.54);
  background-color: var(--md-theme-default-icon, rgba(0, 0, 0, 0.54));
}

.md-chip.md-theme-default.md-primary.md-deletable:not(.md-disabled):hover .md-input-action,
.md-chip.md-theme-default.md-primary.md-clickable:not(.md-disabled):hover .md-input-action {
  background-color: rgba(255, 255, 255, 0.87);
  background-color: var(--md-theme-default-background, rgba(255, 255, 255, 0.87));
}

.md-chip.md-theme-default.md-accent {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-chip.md-theme-default.md-accent .md-input-action {
  color: #fff;
  color: var(--md-theme-default-icon-on-disabled, #fff);
  background-color: rgba(0, 0, 0, 0.26);
  background-color: var(--md-theme-default-disabled, rgba(0, 0, 0, 0.26));
}

.md-chip.md-theme-default.md-accent.md-deletable:not(.md-disabled):hover,
.md-chip.md-theme-default.md-accent.md-clickable:not(.md-disabled):hover {
  background-color: rgba(0, 0, 0, 0.54);
  background-color: var(--md-theme-default-icon, rgba(0, 0, 0, 0.54));
  color: #fff;
  color: var(--md-theme-default-text-primary-on-icon, #fff);
}

.md-chip.md-theme-default.md-accent.md-deletable:not(.md-disabled):hover .md-input-action,
.md-chip.md-theme-default.md-accent.md-clickable:not(.md-disabled):hover .md-input-action {
  background-color: rgba(255, 255, 255, 0.87);
  background-color: var(--md-theme-default-background, rgba(255, 255, 255, 0.87));
}

.md-chip.md-theme-default.md-disabled {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: var(--md-theme-default-highlight, rgba(0, 0, 0, 0.1));
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent, rgba(0, 0, 0, 0.54));
}

.md-chips.md-theme-default .md-clear {
  background-color: rgba(0, 0, 0, 0.2);
}

.md-content.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-content.md-theme-default.md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-content.md-theme-default.md-accent {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-app .md-content.md-theme-default {
  border-left-color: rgba(0, 0, 0, 0.12);
  border-left-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-datepicker-dialog.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-header {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-body-header:after,
.md-datepicker-dialog.md-theme-default .md-datepicker-body-header:before {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-datepicker-dialog.md-theme-default .md-datepicker-body-footer {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-week {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent-on-background, rgba(0, 0, 0, 0.54));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-disabled {
  color: rgba(0, 0, 0, 0.26);
  color: var(--md-theme-default-disabled-on-background, rgba(0, 0, 0, 0.26));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-today {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-datepicker-dialog.md-theme-default .md-datepicker-day-button:hover,
.md-datepicker-dialog.md-theme-default .md-datepicker-month-button:hover,
.md-datepicker-dialog.md-theme-default .md-datepicker-year-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider, rgba(0, 0, 0, 0.12));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-day-button.md-datepicker-selected {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-datepicker-dialog.md-theme-default .md-datepicker-month-button.md-datepicker-selected,
.md-datepicker-dialog.md-theme-default .md-datepicker-year-button.md-datepicker-selected {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-datepicker-dialog.md-theme-default .md-datepicker-year-selector {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-dialog.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-divider.md-theme-default {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider, rgba(0, 0, 0, 0.12));
}

.md-drawer.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-drawer.md-theme-default.md-persistent-mini {
  border-right-color: rgba(0, 0, 0, 0.12);
  border-right-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-empty-state.md-theme-default .md-empty-state-icon.md-icon-image svg {
  fill: rgba(0, 0, 0, 0.26);
  fill: var(--md-theme-default-disabled-on-background, rgba(0, 0, 0, 0.26));
}

.md-empty-state.md-theme-default .md-empty-state-icon.md-icon-font {
  color: rgba(0, 0, 0, 0.26);
  color: var(--md-theme-default-disabled-on-background, rgba(0, 0, 0, 0.26));
}

.md-empty-state.md-theme-default.md-rounded {
  background-color: rgba(0, 0, 0, 0.06);
  background-color: var(--md-theme-default-disabled, rgba(0, 0, 0, 0.06));
}

.md-empty-state.md-theme-default.md-primary .md-empty-state-icon.md-icon-image svg {
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-empty-state.md-theme-default.md-primary .md-empty-state-icon.md-icon-font {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-empty-state.md-theme-default.md-accent .md-empty-state-icon.md-icon-image svg {
  fill: #689f38;
  fill: var(--md-theme-default-accent-on-background, #689f38);
}

.md-empty-state.md-theme-default.md-accent .md-empty-state-icon.md-icon-font {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-field.md-theme-default:after {
  background-color: rgba(0, 0, 0, 0.42);
}

.md-field.md-theme-default:before {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-field.md-theme-default .md-helper-text,
.md-field.md-theme-default .md-count,
.md-field.md-theme-default label {
  color: rgba(0, 0, 0, 0.54);
}

.md-field.md-theme-default .md-input::-webkit-input-placeholder,
.md-field.md-theme-default .md-textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.md-field.md-theme-default.md-focused .md-input,
.md-field.md-theme-default.md-focused .md-textarea,
.md-field.md-theme-default.md-has-value .md-input,
.md-field.md-theme-default.md-has-value .md-textarea {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
}

.md-field.md-theme-default.md-has-textarea:not(.md-autogrow):after {
  border-color: rgba(0, 0, 0, 0.42);
}

.md-field.md-theme-default.md-has-textarea:not(.md-autogrow):before {
  border-color: #00ACC1;
  border-color: var(--md-theme-default-primary, #00ACC1);
}

.md-field.md-theme-default.md-disabled:after {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.38)), color-stop(33%, rgba(0, 0, 0, 0.38)), color-stop(0%, transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0.38) 33%, transparent 0%);
}

.md-field.md-theme-default.md-disabled label,
.md-field.md-theme-default.md-disabled .md-input,
.md-field.md-theme-default.md-disabled .md-textarea {
  color: rgba(0, 0, 0, 0.42);
}

.md-field.md-theme-default > .md-icon:after {
  background-color: #fafafa;
  background-color: var(--md-theme-default-background-variant, #fafafa);
}

.md-field.md-theme-default.md-invalid:after {
  background-color: #ff1744;
  background-color: var(--md-theme-default-fieldvariant, #ff1744);
}

.md-field.md-theme-default.md-invalid.md-has-textarea:not(.md-autogrow):before {
  border-color: #ff1744;
  border-color: var(--md-theme-default-fieldvariant, #ff1744);
}

.md-field.md-theme-default.md-invalid label {
  color: #ff1744;
  color: var(--md-theme-default-fieldvariant, #ff1744);
}

.md-field.md-theme-default.md-invalid .md-error {
  color: #ff1744;
  color: var(--md-theme-default-fieldvariant, #ff1744);
}

.md-field.md-theme-default.md-invalid .md-date-icon,
.md-field.md-theme-default.md-invalid .md-date-icon svg {
  color: #ff1744;
  color: var(--md-theme-default-fieldvariant, #ff1744);
  fill: #ff1744;
  fill: var(--md-theme-default-fieldvariant, #ff1744);
}

.md-field.md-theme-default.md-focused .md-input,
.md-field.md-theme-default.md-focused .md-textarea,
.md-field.md-theme-default.md-highlight .md-input,
.md-field.md-theme-default.md-highlight .md-textarea {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-field.md-theme-default.md-focused > .md-icon,
.md-field.md-theme-default.md-highlight > .md-icon {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-field.md-theme-default.md-focused label {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-field.md-theme-default.md-disabled .md-icon svg {
  fill: rgba(0, 0, 0, 0.26);
  fill: var(--md-theme-default-disabled-on-background, rgba(0, 0, 0, 0.26));
}

.md-icon.md-theme-default.md-icon-image svg {
  fill: rgba(0, 0, 0, 0.54);
  fill: var(--md-theme-default-icon-on-background, rgba(0, 0, 0, 0.54));
}

.md-icon.md-theme-default.md-icon-image svg.md-primary {
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-icon.md-theme-default.md-icon-image svg.md-accent {
  fill: #689f38;
  fill: var(--md-theme-default-accent-on-background, #689f38);
}

.md-icon.md-theme-default.md-icon-font {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-icon-on-background, rgba(0, 0, 0, 0.54));
}

.md-icon.md-theme-default.md-icon-font.md-primary {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-icon.md-theme-default.md-icon-font.md-accent {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-list.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-list.md-theme-default.md-double-line .md-list-item-text :nth-child(2) {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent-on-background, rgba(0, 0, 0, 0.54));
}

.md-list.md-theme-default.md-triple-line .md-list-item-text :nth-child(3) {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent-on-background, rgba(0, 0, 0, 0.54));
}

.md-list.md-theme-default .md-highlight .md-list-item-container {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-list.md-theme-default .md-list-item-container {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-list.md-theme-default .md-list-item-container:not(.md-list-item-default):not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-list.md-theme-default [disabled] {
  color: rgba(0, 0, 0, 0.26);
  color: var(--md-theme-default-disabled-on-background, rgba(0, 0, 0, 0.26));
}

.md-list.md-theme-default .md-selected .md-list-item-content,
.md-list.md-theme-default .router-link-exact-active .md-list-item-content {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-list.md-theme-default .md-list-item-expand.md-active {
  border-color: rgba(0, 0, 0, 0.12);
  border-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-menu-item.md-theme-default.md-primary .md-list-item-link,
.md-menu-item.md-theme-default.md-primary .md-list-item-router,
.md-menu-item.md-theme-default.md-primary .md-list-item-button {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-menu-item.md-theme-default.md-accent .md-list-item-link,
.md-menu-item.md-theme-default.md-accent .md-list-item-router,
.md-menu-item.md-theme-default.md-accent .md-list-item-button {
  color: #689f38;
  color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-progress-bar.md-theme-default.md-indeterminate,
.md-progress-bar.md-theme-default.md-query {
  background-color: rgba(0, 172, 193, 0.38);
  background-color: var(--md-theme-default-primary-on-, rgba(0, 172, 193, 0.38));
}

.md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-indeterminate .md-progress-bar-fill:after,
.md-progress-bar.md-theme-default.md-query .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-query .md-progress-bar-fill:after {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-progress-bar.md-theme-default.md-indeterminate.md-accent,
.md-progress-bar.md-theme-default.md-query.md-accent {
  background-color: rgba(104, 159, 56, 0.38);
  background-color: var(--md-theme-default-accent-on-, rgba(104, 159, 56, 0.38));
}

.md-progress-bar.md-theme-default.md-indeterminate.md-accent .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-indeterminate.md-accent .md-progress-bar-fill:after,
.md-progress-bar.md-theme-default.md-query.md-accent .md-progress-bar-track:after,
.md-progress-bar.md-theme-default.md-query.md-accent .md-progress-bar-fill:after {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-progress-bar.md-theme-default.md-determinate {
  background-color: rgba(0, 172, 193, 0.38);
  background-color: var(--md-theme-default-primary-on-, rgba(0, 172, 193, 0.38));
}

.md-progress-bar.md-theme-default.md-determinate .md-progress-bar-fill {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-progress-bar.md-theme-default.md-determinate.md-accent {
  background-color: rgba(104, 159, 56, 0.38);
  background-color: var(--md-theme-default-accent-on-, rgba(104, 159, 56, 0.38));
}

.md-progress-bar.md-theme-default.md-determinate.md-accent .md-progress-bar-fill {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-progress-bar.md-theme-default.md-buffer .md-progress-bar-fill {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-progress-bar.md-theme-default.md-buffer .md-progress-bar-track {
  background-color: rgba(0, 172, 193, 0.38);
  background-color: var(--md-theme-default-primary-on-, rgba(0, 172, 193, 0.38));
}

.md-progress-bar.md-theme-default.md-buffer .md-progress-bar-buffer {
  border-color: rgba(0, 172, 193, 0.38);
  border-color: var(--md-theme-default-primary-on-, rgba(0, 172, 193, 0.38));
}

.md-progress-bar.md-theme-default.md-buffer.md-accent .md-progress-bar-fill {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-progress-bar.md-theme-default.md-buffer.md-accent .md-progress-bar-track {
  background-color: rgba(104, 159, 56, 0.38);
  background-color: var(--md-theme-default-accent-on-, rgba(104, 159, 56, 0.38));
}

.md-progress-bar.md-theme-default.md-buffer.md-accent .md-progress-bar-buffer {
  border-color: rgba(104, 159, 56, 0.38);
  border-color: var(--md-theme-default-accent-on-, rgba(104, 159, 56, 0.38));
}

.md-progress-spinner.md-theme-default .md-progress-spinner-circle {
  stroke: #00ACC1;
  stroke: var(--md-theme-default-primary, #00ACC1);
}

.md-progress-spinner.md-theme-default.md-accent .md-progress-spinner-circle {
  stroke: #689f38;
  stroke: var(--md-theme-default-accent, #689f38);
}

.md-radio.md-theme-default.md-checked .md-radio-container {
  border-color: #689f38;
  border-color: var(--md-theme-default-accent, #689f38);
}

.md-radio.md-theme-default.md-checked .md-radio-container:after {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-radio.md-theme-default.md-checked .md-ripple {
  color: #689f38;
  color: var(--md-theme-default-accent, #689f38);
}

.md-radio.md-theme-default.md-checked.md-primary .md-radio-container {
  border-color: #00ACC1;
  border-color: var(--md-theme-default-primary, #00ACC1);
}

.md-radio.md-theme-default.md-checked.md-primary .md-radio-container:after {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-radio.md-theme-default.md-checked.md-primary .md-ripple {
  color: #00ACC1;
  color: var(--md-theme-default-primary, #00ACC1);
}

.md-radio.md-theme-default .md-radio-container {
  border-color: rgba(0, 0, 0, 0.54);
}

.md-radio.md-theme-default.md-disabled .md-radio-container {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-radio.md-theme-default.md-disabled.md-checked .md-radio-container {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-radio.md-theme-default.md-disabled.md-checked .md-radio-container:after {
  background-color: rgba(0, 0, 0, 0.26);
}

.md-snackbar.md-theme-default {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-text-primary, #fff);
  background-color: #323232;
}

.md-steppers.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-steppers.md-theme-default .md-stepper-icon:after,
.md-steppers.md-theme-default .md-stepper-icon:before,
.md-steppers.md-theme-default .md-stepper-number:after,
.md-steppers.md-theme-default .md-stepper-number:before,
.md-steppers.md-theme-default .md-stepper:after,
.md-steppers.md-theme-default .md-stepper:before {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-steppers.md-theme-default .md-stepper-number {
  background-color: rgba(0, 0, 0, 0.38);
  background-color: var(--md-theme-default-text-hint-on-background, rgba(0, 0, 0, 0.38));
  color: #fff;
  color: var(--md-theme-default-text-primary-on-text-hint, #fff);
}

.md-steppers.md-theme-default .md-stepper-number svg {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-text-hint, #fff);
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-text-hint, #fff);
}

.md-steppers.md-theme-default .md-stepper-header .md-button-content {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.md-steppers.md-theme-default .md-stepper-header .md-button-content:after,
.md-steppers.md-theme-default .md-stepper-header .md-button-content:before {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-steppers.md-theme-default .md-stepper-header.md-active .md-button-content,
.md-steppers.md-theme-default .md-stepper-header.md-done .md-button-content {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-steppers.md-theme-default .md-stepper-header.md-active .md-stepper-number,
.md-steppers.md-theme-default .md-stepper-header.md-done .md-stepper-number {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary-on-background, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-steppers.md-theme-default .md-stepper-header.md-active .md-stepper-number svg,
.md-steppers.md-theme-default .md-stepper-header.md-done .md-stepper-number svg {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-steppers.md-theme-default .md-stepper-header.md-error .md-button-content {
  color: #ff1744;
  color: var(--md-theme-default-steppervariant, #ff1744);
}

.md-steppers.md-theme-default .md-stepper-header.md-error .md-icon svg {
  color: #ff1744;
  color: var(--md-theme-default-steppervariant, #ff1744);
  fill: #ff1744;
  fill: var(--md-theme-default-steppervariant, #ff1744);
}

.md-subheader.md-theme-default {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent-on-background, rgba(0, 0, 0, 0.54));
}

.md-subheader.md-theme-default.md-primary {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-switch.md-theme-default.md-checked .md-switch-container {
  background-color: rgba(104, 159, 56, 0.38);
  background-color: var(--md-theme-default-accent-on-, rgba(104, 159, 56, 0.38));
}

.md-switch.md-theme-default.md-checked .md-switch-thumb {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
}

.md-switch.md-theme-default.md-checked .md-ripple {
  color: #689f38;
  color: var(--md-theme-default-accent, #689f38);
}

.md-switch.md-theme-default.md-checked.md-primary .md-switch-container {
  background-color: rgba(0, 172, 193, 0.38);
  background-color: var(--md-theme-default-primary-on-, rgba(0, 172, 193, 0.38));
}

.md-switch.md-theme-default.md-checked.md-primary .md-switch-thumb {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
}

.md-switch.md-theme-default.md-checked.md-primary .md-ripple {
  color: #00ACC1;
  color: var(--md-theme-default-primary, #00ACC1);
}

.md-switch.md-theme-default .md-switch-container {
  background-color: rgba(0, 0, 0, 0.38);
}

.md-switch.md-theme-default .md-switch-thumb {
  background-color: #f5f5f5;
  background-color: var(--md-theme-default-switchvariant, #f5f5f5);
}

.md-switch.md-theme-default.md-disabled .md-switch-container {
  background-color: rgba(0, 0, 0, 0.12);
}

.md-switch.md-theme-default.md-disabled .md-switch-thumb {
  background-color: #bdbdbd;
  background-color: var(--md-theme-default-switchvariant, #bdbdbd);
}

.md-table.md-theme-default .md-table-content,
.md-table.md-theme-default .md-table-alternate-header {
  background-color: #fff;
  background-color: var(--md-theme-default-background, #fff);
}

.md-table.md-theme-default .md-table-alternate-header .md-table-toolbar {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
  background-color: rgba(104, 159, 56, 0.2);
  background-color: var(--md-theme-default-accent-on-, rgba(104, 159, 56, 0.2));
}

.md-table.md-theme-default .md-table-row:hover:not(.md-header-row) .md-table-cell {
  background-color: rgba(0, 0, 0, 0.08);
  background-color: var(--md-theme-default-highlight-on-background, rgba(0, 0, 0, 0.08));
}

.md-table.md-theme-default .md-table-row.md-selected,
.md-table.md-theme-default .md-table-row.md-selected-single {
  background-color: #f5f5f5;
  background-color: var(--md-theme-default-rowvariant, #f5f5f5);
}

.md-table.md-theme-default .md-table-row.md-selected.md-primary,
.md-table.md-theme-default .md-table-row.md-selected-single.md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary-on-background, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-table.md-theme-default .md-table-row.md-selected.md-primary .md-ripple,
.md-table.md-theme-default .md-table-row.md-selected-single.md-primary .md-ripple {
  color: #fff;
}

.md-table.md-theme-default .md-table-row.md-selected.md-primary .md-checkbox-container,
.md-table.md-theme-default .md-table-row.md-selected-single.md-primary .md-checkbox-container {
  background-color: #fff;
  border-color: #fff;
}

.md-table.md-theme-default .md-table-row.md-selected.md-primary .md-checkbox-container:after,
.md-table.md-theme-default .md-table-row.md-selected-single.md-primary .md-checkbox-container:after {
  border-color: #00ACC1;
  border-color: var(--md-theme-default-primary, #00ACC1);
}

.md-table.md-theme-default .md-table-row.md-selected.md-accent,
.md-table.md-theme-default .md-table-row.md-selected-single.md-accent {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent-on-background, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-table.md-theme-default .md-table-row.md-selected.md-accent .md-ripple,
.md-table.md-theme-default .md-table-row.md-selected-single.md-accent .md-ripple {
  color: #fff;
}

.md-table.md-theme-default .md-table-row.md-selected.md-accent .md-checkbox-container,
.md-table.md-theme-default .md-table-row.md-selected-single.md-accent .md-checkbox-container {
  background-color: #fff;
  border-color: #fff;
}

.md-table.md-theme-default .md-table-row.md-selected.md-accent .md-checkbox-container:after,
.md-table.md-theme-default .md-table-row.md-selected-single.md-accent .md-checkbox-container:after {
  border-color: #689f38;
  border-color: var(--md-theme-default-accent, #689f38);
}

.md-table.md-theme-default .md-table-row td {
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-table.md-theme-default .md-table-head {
  color: rgba(0, 0, 0, 0.54);
  color: var(--md-theme-default-text-accent-on-background, rgba(0, 0, 0, 0.54));
}

.md-table.md-theme-default .md-table-fixed-header-active {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-table.md-theme-default .md-sortable:hover,
.md-table.md-theme-default .md-sortable.md-sorted {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-table.md-theme-default .md-sortable:hover svg,
.md-table.md-theme-default .md-sortable.md-sorted svg {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-table.md-theme-default .md-table-pagination {
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-color: var(--md-theme-default-divider-on-background, rgba(0, 0, 0, 0.12));
}

.md-tabs.md-theme-default .md-tabs-navigation {
  background-color: #fff;
  background-color: var(--md-theme-default-background-on-background, #fff);
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button[disabled] {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.38));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button .md-icon {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button .md-icon svg {
  fill: rgba(0, 0, 0, 0.7);
  fill: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active .md-icon {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active .md-icon svg {
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default .md-tabs-indicator {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button[disabled] {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.38));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button .md-icon {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button .md-icon svg {
  fill: rgba(0, 0, 0, 0.7);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button.md-active {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button.md-active .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button.md-active .md-icon svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-primary .md-tabs-indicator {
  background-color: rgba(0, 0, 0, 0.87);
  background-color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button {
  color: rgba(255, 255, 255, 0.7);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button[disabled] {
  color: rgba(255, 255, 255, 0.38);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.38));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button .md-icon {
  color: rgba(255, 255, 255, 0.7);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button .md-icon svg {
  fill: rgba(255, 255, 255, 0.7);
  fill: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button.md-active {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button.md-active .md-icon {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button.md-active .md-icon svg {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default.md-accent .md-tabs-indicator {
  background-color: #fff;
  background-color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default .md-tabs-navigation {
  background-color: #fff;
  background-color: var(--md-theme-default-background-on-background, #fff);
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button[disabled] {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.38));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button .md-icon {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button .md-icon svg {
  fill: rgba(0, 0, 0, 0.7);
  fill: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active .md-icon {
  color: #00ACC1;
  color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active .md-icon svg {
  fill: #00ACC1;
  fill: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default .md-tabs-indicator {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary-on-background, #00ACC1);
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button[disabled] {
  color: rgba(0, 0, 0, 0.38);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.38));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button .md-icon {
  color: rgba(0, 0, 0, 0.7);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button .md-icon svg {
  fill: rgba(0, 0, 0, 0.7);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.7));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button.md-active {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button.md-active .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-primary .md-tabs-navigation .md-button.md-active .md-icon svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-primary .md-tabs-indicator {
  background-color: rgba(0, 0, 0, 0.87);
  background-color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent-on-background, #689f38);
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button {
  color: rgba(255, 255, 255, 0.7);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button[disabled] {
  color: rgba(255, 255, 255, 0.38);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.38));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button .md-icon {
  color: rgba(255, 255, 255, 0.7);
  color: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button .md-icon svg {
  fill: rgba(255, 255, 255, 0.7);
  fill: var(--md-theme-default-text-primary-on-accent, rgba(255, 255, 255, 0.7));
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button.md-active {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button.md-active .md-icon {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default.md-accent .md-tabs-navigation .md-button.md-active .md-icon svg {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-tabs.md-theme-default.md-accent .md-tabs-indicator {
  background-color: #fff;
  background-color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-toolbar.md-theme-default {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
  background-color: #f5f5f5;
  background-color: var(--md-theme-default-toolbarvariant, #f5f5f5);
}

.md-toolbar.md-theme-default .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default .md-icon svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default .md-title,
.md-toolbar.md-theme-default .md-display-1,
.md-toolbar.md-theme-default .md-display-2 {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background-variant, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-primary {
  background-color: #00ACC1;
  background-color: var(--md-theme-default-primary, #00ACC1);
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-primary .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-primary .md-icon svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-primary .md-button:not([disabled]):not(.md-raised) {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-primary .md-title,
.md-toolbar.md-theme-default.md-primary .md-display-1,
.md-toolbar.md-theme-default.md-primary .md-display-2 {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-primary, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-accent {
  background-color: #689f38;
  background-color: var(--md-theme-default-accent, #689f38);
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-toolbar.md-theme-default.md-accent .md-icon {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-toolbar.md-theme-default.md-accent .md-icon svg {
  fill: #fff;
  fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-toolbar.md-theme-default.md-accent .md-button:not([disabled]):not(.md-raised) {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-toolbar.md-theme-default.md-accent .md-title,
.md-toolbar.md-theme-default.md-accent .md-display-1,
.md-toolbar.md-theme-default.md-accent .md-display-2 {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-accent, #fff);
}

.md-toolbar.md-theme-default.md-transparent {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-transparent .md-icon {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-transparent .md-icon svg {
  fill: rgba(0, 0, 0, 0.87);
  fill: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-toolbar.md-theme-default.md-transparent .md-title,
.md-toolbar.md-theme-default.md-transparent .md-display-1,
.md-toolbar.md-theme-default.md-transparent .md-display-2 {
  color: rgba(0, 0, 0, 0.87);
  color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.md-tooltip.md-theme-default {
  color: #fff;
  color: var(--md-theme-default-text-primary-on-tooltip, #fff);
  background-color: rgba(97, 97, 97, 0.9);
  background-color: var(--md-theme-default-tooltip-on-background, rgba(97, 97, 97, 0.9));
}

