<template>
    <div class="md-card">
        <md-progress-bar md-mode="indeterminate" v-show="fetch"/>

        <md-steppers :md-active-step.sync="active" md-vertical md-linear>
            <!--STEP 1-->
            <md-step id="first" md-label="Enter package name" md-description="Required" :md-editable="false"
                     :md-done.sync="stepper.first.done" :md-error="stepper.first.error">

                <md-field class="md-layout-item md-size-20 md-small-size-100"
                          :class="{ 'md-invalid' : formError.package }">
                    <label for="package">Package</label>
                    <md-input type="text" id="package" autocomplete="email" v-model="form.package"
                              :disabled="fetch" @keyup.enter="completeStep('first')"/>
                    <span class="md-error" v-show="formError.package">{{ formError.package}}</span>
                </md-field>

                <md-button class="md-primary" @click="completeStep('first')">
                    Next
                </md-button>
            </md-step>

            <!--STEP 2-->
            <md-step id="second" md-label="Task description" :md-editable="false"
                     :md-done.sync="stepper.second.done" :md-error="stepper.second.error">

                <div class="md-layout md-gutter">
                    <div class="md-layout-item md-size-10 md-small-size-100">
                        <md-field>
                            <label>Stars</label>
                            <md-select v-model="form.stars" required>
                                <md-option value="1">1</md-option>
                                <md-option value="2">2</md-option>
                                <md-option value="3">3</md-option>
                            </md-select>
                            <span class="md-error" v-show="formError.stars">{{ formError.stars}}</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field :class="{ 'md-invalid' : formError.reward }">
                            <label>Reward</label>
                            <md-input v-model="form.reward" placeholder="0.0" required>
                            </md-input>
                            <span class="md-error" v-show="formError.reward">{{ formError.reward}}</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-datepicker v-model="form.expiry_date" :class="{ 'md-invalid' : formError.expiry_date }">
                            <span class="md-error" v-show="formError.expiry_date">{{ formError.expiry_date }}</span>
                        </md-datepicker>
                    </div>

                </div>


                <md-button class="md-primary" @click="completeStep('second')">Next</md-button>
            </md-step>

            <!--STEP 3-->
            <md-step id="third" md-label="Task conditions" :md-editable="false" :md-done.sync="stepper.third.done"
                     :md-error="stepper.third.error">

                <div class="md-layout md-gutter" v-for="(item, index) in form.conditions" :key="index">
                    <div class="md-layout-item md-size-20 md-small-size-100">
                        <md-field>
                            <label>Condition type</label>
                            <md-select v-model="item.type" required>
                                <md-option value="ONE_TIME_INSTALL">One time install</md-option>
                                <md-option value="ONE_TIME">One time</md-option>
                                <md-option value="REPEATER">Repeater</md-option>
                            </md-select>
                            <span class="md-error" v-show="formError.stars">{{ formError.stars}}</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field :class="{ 'md-invalid' : formError['conditions.'+index+'.text']}">
                            <label>Condition text</label>
                            <md-input v-model="item.text" placeholder="Install app one time" required></md-input>
                            <span class="md-error"
                                  v-show="formError['conditions.'+index+'.text']">{{ formError['conditions.'+index+'.text'] }}</span>
                        </md-field>
                    </div>

                    <div class="md-layout-item md-size-20 md-small-size-100" v-if="item.type === 'REPEATER'">
                        <md-field :class="{ 'md-invalid' : formError['conditions.'+index+'.repeating_count']}">
                            <label>Repeat count</label>
                            <md-input v-model="item.repeating_count" placeholder="1" required></md-input>
                            <span class="md-error"
                                  v-show="formError['conditions.'+index+'.repeating_count']">{{ formError['conditions.'+index+'.repeating_count'] }}</span>
                        </md-field>
                    </div>

                    <md-button class="md-accent" v-show="form.conditions.length > 1" @click="removeCondition(index)">
                        Remove
                    </md-button>

                </div>

                <md-button class="md-primary" v-show="form.conditions.length < 8" @click="addCondition">Add condition
                </md-button>
                <md-button class="md-primary" @click="store">Done</md-button>
            </md-step>
        </md-steppers>
    </div>
</template>

<script>
    import {mapState, mapActions, mapMutations} from 'vuex'

    export default {
        name: 'StepperNonEditable',

        computed: mapState({
            form: state => state.tasks.create.form,
            formError: state => state.tasks.create.errors,
            stepper: state => state.tasks.create.stepper,
            active: state => state.tasks.create.activeStep,
            fetch: state => state.tasks.create.fetch
        }),

        methods: {
            ...mapActions([
                'completeStep',
                'createTask'
            ]),
            ...mapMutations([
                'addCondition',
                'removeCondition'
            ]),

            store: function () {
                this.createTask()
                    .then(resolve => {
                        this.$router.push('/tasks');
                    })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
</style>