<template>
    <div>
        <md-button class="md-fab md-primary" to="/tasks/create">
            <md-icon>add</md-icon>
        </md-button>

        <div class="md-layout">
            <md-card class="md-size-50" v-for="(item, key) in tasks" :key="key" to="/tasks/3">
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{ item.title }}</div>
                        <div class="md-subhead">Stars: {{ item.stars }}</div>
                        <div class="md-subhead">Reward: {{ item.reward }}</div>
                    </md-card-header-text>
                    <md-card-media>
                        <img :src="item.image" alt="People">
                    </md-card-media>
                </md-card-header>

                <md-card-content>
                    <p>Steps</p>
                    <p v-for="(cond, index) in item.conditions">{{ index + 1}}. {{cond.text}}</p>
                </md-card-content>

                <md-card-actions>
                    <!--<md-button>Action</md-button>-->
                    <md-button>Delete</md-button>
                </md-card-actions>
            </md-card>
        </div>


    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        computed: mapState({
            tasks: state => state.tasks.tasks,
            fetch: state => state.tasks.create.fetch
        }),

        methods: {
            ...mapActions([
                'getTasks'
            ])
        },

        beforeRouteEnter: (to, from, next) => {
            next(vm => {
                vm.getTasks();
            })
        },
    }
</script>

<style lang="scss" scoped>
    .md-fab {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .md-progress-spinner {
        position: absolute;
        top: 10%;
        z-index: 99;
        left: 50%;
        transform: translateX(-50%);
    }

    .md-card {
        width: 24%;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
    }
</style>